section {
    height: 75vh;
}

#mission, #vision {
    flex: 1 1;
}

.section-container {
    display: flex;
}

.container {
    margin: 40px;
}

@media screen and (min-width: 320px) and (max-width:768px) {
    #vision-mission {
        flex-direction: column;
        padding: 5%;
    }

   #mission, #vision {
        margin: 5%;
   }

   .header-container {
        font-size: 100%;
   }

   .details {
        font-size: 70%;
        padding: 5%;
   }

   section {
        height: 88vh;
   }
}

@media screen and (min-width: 769px){
    .details {
        font-size: 80%;
        word-wrap: break-word;
    }

    .header-container {
        font-size: 25px;
    }

    section {
        height: 100vh;
    }
}

@media screen and (max-width: 426px) {
    section {
        height: 170vh;
    }
}